<link rel="stylesheet" href="/assets/css/stylesCompetences.css">
<h3>Languages</h3><br>
<span><strong>HTML5 : </strong>4/5</span><br><br>
<span><strong>CSS3 : </strong>5/5</span><br><br>
<span><strong>javascript : </strong>3.5/5</span><br><br>
<span><strong>angularjs : </strong>3.5/5</span><br><br>
<span><strong>PHP/MySQL : </strong>4.5/5</span><br><br>
<span><strong>java : </strong>3/5</span><br><br>
<span><strong>python : </strong>4.5/5</span><br><br>
<span><strong>kotlin : </strong>3/5</span><br><br>
<h3>Logiciels</h3><br>
<span><strong>Android Studio : </strong>3/5</span><br><br>
<span><strong>Bootstrap Studio : </strong>3.5/5</span><br><br>